.social-links {
  display: flex;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
  & path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }
  & a {
    &:hover {
      & svg {
        & path {
          fill: var(--gray-900);
        }
      }
    }
  }
}
